<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427405896121-qj74tot19b2jv0lhm765qbnuucjn1gqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427405896121-qj74tot19b2jv0lhm765qbnuucjn1gqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTdv-p-mBr1muCEbhrcszGTaacsOqSuo8</string>
	<key>GCM_SENDER_ID</key>
	<string>427405896121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eWallet</string>
	<key>PROJECT_ID</key>
	<string>e-wallet-a4796</string>
	<key>STORAGE_BUCKET</key>
	<string>e-wallet-a4796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427405896121:ios:5cb452120072097f422e68</string>
</dict>
</plist>